* {
  box-sizing: border-box;

  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
}

#root {
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter_18pt-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-bold";
  src: url("./assets/fonts/Inter_18pt-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "PerfectMoment";
  src: url("./assets/fonts/PerfectMoment-Script.otf") format("truetype");
}
